.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 1250px;
  margin: 0 auto;

}

label {
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-container {
  width: 600px;
  margin-bottom: 50px; }
  .img-container img {
    width: 100%; }
  .img-container p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px; }
